
##====Objective-C =====#

## Firebase 

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"

github "hamcrest/OCHamcrest" ~> 7.1.2

github "erikdoe/ocmock" ~> 3.7.1


##====Swift =====##

github "realm/realm-cocoa" ~> 10.5.0
